*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/*/build
/*/*/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.aab
*.jks
*.keystore
/releases
build-mosh/
com/jcraft/jsch/
.kotlin/
**/.kotlin/
*.salive
*.dm
output-metadata.json
/*/release/
/*/debug/
/releases/
